<link rel="stylesheet" href="style.css">
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<div class="btns">
    <button class="plus">+</button>
    <button class="minus">-</button>
  </div>
  <div class="wrap">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit numquam facilis tempore saepe quisquam animi quibusdam voluptas tempora eos in quae accusamus rerum impedit nulla possimus perferendis ea atque molestiae molestias mollitia neque veritatis libero esse eius laboriosam sint repellendus!</p>
  </div>
<script>
    var resizeFont = function(d) {
    var el = $('html');
    $(el).css('font-size', parseInt($(el).css('font-size')) + d);  
}

$('.plus').click(function() {
  resizeFont(2);
});


$('.minus').click(function() {
  resizeFont(-2);
}); 
</script>