.t-header{
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
    left: 0;
    right: 0;
    top: 0;
    height: 84px;
    min-width: 900px;
    background-color: #12121a;
    z-index: 200;
}
.card-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-right: 15px;
    background-color: rgba(247, 247, 247, 0.5);
  }

.content-right{
    
}
.svg{
position: absolute;
left: 87.55%;
right: 8.27%;
top: 22.81%;
bottom: 24.56%;

}
/* Group 1 */
.search{
    position: absolute;
left: 59.52%;
right: 23.06%;
top: 19.3%;
bottom: 19.3%;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer{
    width: 100%;
    height: 30px;
    text-align: center;
    color: dimgray;
    background-color: #242624;
    position: relative;
}

.topfooter{
    width: 100%;
    height: 200px;
    background-color: #2A2B21;
}
/* logo_novelfast 1 */


@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.headingOuter {
    background: #f1f1f1;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 1.6em;
  }
  .headingOuter:first-child {
    margin-top: 0;
  }
  h1 + .headingOuter {
    margin-top: 0;
  }
  
  /* =====================================================
     Some defaults across all toggle demos
     ===================================================== */
  .toggle {
    position: absolute;
    display: block;
    text-align: center;
    user-select: none;
    left: 87.55%;
    right: 8.27%;
    top: 22.81%;
    bottom: 24.56%;
  }
  
  .toggle--checkbox {
    display: none;
  }
  
  .toggle--btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4em;
    transition: all 350ms ease-in;
  }
  .toggle--btn:hover {
    cursor: pointer;
  }
  
  .toggle--btn, .toggle--btn:before, .toggle--btn:after,
  .toggle--checkbox,
  .toggle--checkbox:before,
  .toggle--checkbox:after,
  .toggle--feature,
  .toggle--feature:before,
  .toggle--feature:after {
    transition: all 250ms ease-in;
  }
  .toggle--btn:before, .toggle--btn:after,
  .toggle--checkbox:before,
  .toggle--checkbox:after,
  .toggle--feature:before,
  .toggle--feature:after {
    content: '';
    display: block;
  }
  
  /* ===================================================
     Day/Night and Gender toggle buttons
     =================================================== */
  .toggle--daynight .toggle--btn,
  .toggle--like .toggle--btn {
    position: relative;
    height: 70px;
    width: 125px;
    border-radius: 70px;
  }
  .toggle--daynight .toggle--btn:before,
  .toggle--like .toggle--btn:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .toggle--daynight .toggle--btn {
    background-color: #fff;
    width: 57px;
    height: 30px;
  }
  .toggle--daynight .toggle--btn:before {
    background-color: black;
    height: 30px;
    width: 30px;
  }

  @keyframes starry_star {
    50% {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
    }
  }
  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 100;
      transform: scale(1.1);
    }
    55% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      opacity: 100;
      transform: scale(1);
    }
  }
  .toggle--daynight .toggle--checkbox:checked + .toggle--btn {
    background-color: darkslategray;
  }
  .toggle--daynight .toggle--checkbox:checked + .toggle--btn:before {
    left: 30px;
    background-color: #ffdf6d;
    border: 5px solid #e1c348;
  }
  .toggle--daynight .toggle--checkbox:checked + .toggle--btn:after {
    opacity: 100;
    animation-name: bounceIn;
    animation-duration: 0.60s;
    animation-delay: 0.10s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
  }
  .toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature {
    opacity: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 -4px, rgba(255, 255, 255, 0.1) 12px 10px 0 -5px, #fff 38px 18px 0 -3px, rgba(255, 255, 255, 0.1) 32px 34px 0 -4px, #fff 20px 24px 0 -5.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 -3px;
    animation: none;
  }
  .toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature:before {
    left: 25px;
    transform: rotate(70deg);
  }
  .dark-mode {
    background-color:#232840;
    color: black;
  }
  .grid-item.dark-mode {
    width: 190px;
    height: 190px;
    float: left;
    background-color:#e8e8e8 ;
    border-color: hsla(0, 0%, 0%, 0.5);
    margin: 5px;
  }

  .detail-container .tab-group {
    position: relative;
    padding-bottom: 10px;
    font-size: 0;
}
.detail-container .tab-group .tab-item {
    display: inline-block;
    line-height: 40px;
    font-size: 32px;
    font-family: NunitoSans-Bold;
    vertical-align: middle;
    color: #b8bfcc;
    cursor: pointer;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.detail-container .tab-group .tab-separ {
    display: inline-block;
    width: 2px;
    height: 24px;
    margin: 0 40px;
    background-color: #dadee6;
    vertical-align: middle;
}
.detail-container .tab-group .tab-item {
    display: inline-block;
    line-height: 40px;
    font-size: 32px;
    font-family: NunitoSans-Bold;
    vertical-align: middle;
    color: #b8bfcc;
    cursor: pointer;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.card-right{
    width: 120px;
    height: 120px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin: 5px;
}
.card-img-right {
    width: auto;
    text-align: center;
    margin-top: 60px;
    margin:40px;
    border-radius: calc(0.25rem - 1px);
    position: absolute;
  }
  .grid {
    background: none;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-item {
      display: grid;
    width: 190px;
    height: 190px;
    float: left;
    background-color:#e8e8e8 ;
    border-color: hsla(0, 0%, 0%, 0.5);
    margin: 5px;
  }
  
  .grid-item--width2 { width: 500px; }
  
  .grid-item--height2 { height: 390px; }

  .btns{
    box-sizing: border-box;
    font-size: 16px;
    user-select: none;
  }
  .mark-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    height: 20px;
    line-height: 18px;
    padding: 0 12px;
    font-size: 14px;
    color: #8A8A8A;
    background-color: #E7E7E7;
    border-radius: 2px;
}
.mobile .mark-item {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin: 8px 0 0;
    padding: 0 10px;
    border: 0 none;
    color: #7a8599;
    border-right: 1px solid #dadee6;
}
.mobile .t-header {
    padding: 0 10px;
    height: 54px;
    min-width: auto;
    background: #12121a;
}
.mobile body {
    background: #363d4d;
    min-width: auto;
    padding-top: 54px;
    color: #363d4d;
}